<div class="card row bg-dark mb-1 py-1">
  <a href="/post/{{id}}">
    <div class="card-body">
      <div class="card-title text-light">
        <h4>{{title}}</h4>
      </div>
      <div class="card-subtitle text-white-50">
        <h5>by {{user.username}}</h5>
      </div>
    </div>
  </a>
</div>