<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Yourself</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">

</head>
<header>
  <div class="jumbotron bg-dark rounded-0 mb-0">
    <h3 class="display-4 text-light text-center">Tech Yourself</h3>
  </div>

</header>
<body>

  <nav class="nav flex-row justify-content-between bg-secondary mb-3">
    <div class="nav flex-row justify-content-start">
      <a class="nav-link text-light" href="/">Home</a>
      <a class="nav-link text-light" href="/">Dashboard</a>
    </div>
    {{#if loggedIn}}
    <a class="nav-link text-light" id="logout" href="/">Logout</a>
    {{else}}
    <a class="nav-link text-light" href="/login">Login</a>
    {{/if}}
  </nav>

  <main>
    <div class="container">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/comment.js"></script>
</body>

</html>