<div class="row flex-row justify-content-between">
  <div class="flex-col col-md-4 align-items-center">
    <h3 class="row">{{user}}'s Dashboard</h3>
    {{#each userPosts as |post|}}
    {{> post-list}}
    {{/each}}
  </div>

  <div class="col-md-7">
    <h3 class="row">Compose a new blog post:</h3>
    <form class="form newpost-form">
      <div class="form-group row">
        <label for="post-title">Title</label>
        <input class="form-control" type="text" id="post-title">
      </div>
      <div class="form-group row">
        <label for="post-body">Body</label>
        <textarea class="form-control" type="text" id="post-body" rows="9"></textarea>
      </div>
      <div class="form-group row">
        <button class="btn btn-primary" type="submit">Post</button>
      </div>
    </form>
    <p class="row post-status text-success invisible">Post successful</p>
  </div>
</div>
<script src="./js/newPost.js"></script>

